<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<!--<head>-->
<!--<meta charset="UTF-8" />-->

<!--<title>On the road again</title>-->
<!--</head>-->
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>
<h1 class="container text-warning">Create your booking </h1>

<main class="container mx-auto">
    <form th:action="@{/vehicles/book}" method="post" th:object="${serviceBooking}">

        <section class="form-row">
            <article class="form-group col-md-2">
                <label for="date">Date of Appointment:</label>
                <input type="date" id="date" name="date" class="form-control" th:field="*{service_date}"/>
            </article>

            <article class="form-group col-md-2">
                <label for="time">Time of Appointment:</label>
                <input type="time" id="time" name="time" class="form-control" th:field="*{service_time}"/>
            </article>

            <article class="form-group col-md-3">
                <label for="advisor">Advisor</label>
                <select name="advise" id="advisor" class="form-control">
                    <option value="Tom">Tom</option>
                    <option value="Will">Will</option>
                    <option value="Jerry">Jerry</option>
                </select>
            </article>
        </section>

        <section class="form-row">
            <article class="form-group col-md-3">
                <label for="vehicle">Vehicle</label>

                <select name="license" id="vehicle" class="form-control">
                    <option th:each="vehicle : ${vehicles}" th:value="${vehicle.license}">
                        <span th:text="${vehicle.year + ' ' + vehicle.make + ' ' + vehicle.model}" />
                    </option>
                </select>

            </article>


            <article class="form-group col-md-4">
                <label for="service-type">Service Type</label>
                <select name="service-type" id="service-type" class="form-control">
                    <option value="oil">Oil Change</option>
                    <option value="tires">Tire Rotation</option>
                    <option value="maintenance">Regular Maintenance</option>
                    <option value="diagnostic">Diagnostic</option>
                    <option value="air-filter">Air Filter</option>
                    <option value="brakes">Brakes</option>
                </select>
            </article>
        </section>
        <input type="submit"/>
    </form>
</main>

<footer th:replace="fragments/fragments :: footer"></footer>

</body>
</html>
