<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<!--<head>-->
<!--<meta charset="UTF-8" />-->

<!--<title>On the road again</title>-->
<!--</head>-->
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<main class="container mx-auto col-12 col-md-10 my-5 py-5">
    <h1 class="page-title my-2 text-dark col-8 mx-auto" style="border-bottom: 2px solid #ffc107;">Create your booking</h1>

    <form th:action="@{/booking/create}" method="post" th:object="${serviceBooking}">
        <section class="form-row justify-content-center justify-items-center">
            <article class="form-group col-md-2 ">
                <label for="date">Date of Appointment:</label>
                <input type="date" id="date" name="date" class="form-control" th:field="*{date}"/>
            </article>

            <article class="form-group col-md-2">
                <label for="time">Time of Appointment:</label>
                <input type="time" id="time" name="time" class="form-control" th:field="*{service_time}"/>
            </article>

            <article class="form-group col-md-3">
                <label for="advisor">Advisor</label>
                <select name="advise" id="advisor" class="form-control">
                    <option th:each="advisor : ${advisors}" th:value="${advisor.id}">
                        <span th:text="${advisor.first}" />
                    </option>
                </select>
            </article>
        </section>

        <section class="form-row justify-content-center justify-items-center">
            <article class="form-group col-md-3">
                <label for="vehicle">Vehicle</label>

                <select name="license" id="vehicle" class="form-control">
                    <option th:each="vehicle : ${vehicles}" th:value="${vehicle.license}">
                        <span th:text="${vehicle.year + ' ' + vehicle.make + ' ' + vehicle.model}" />
                    </option>
                </select>
            </article>

            <article class="form-group col-md-4">
                <label for="service-type">Service Type</label>
                <select name="service-type" id="service-type" class="form-control">
                    <option th:each="serviceType : ${serviceTypes}" th:value="${serviceType.id}">
                        <span th:text="${serviceType.description}" />
                    </option>
                </select>
            </article>
        </section>

        <aside class="text-center my-5">
            <input class="btn btn-warning btn-lg mb-5" type="submit" value="Create Booking"/>
        </aside>
    </form>
</main>

<footer th:replace="fragments/fragments :: footer"></footer>

</body>
</html>
