<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head">
    <link rel="stylesheet" href="./css/styles.css"/>
</head>
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>
<header th:replace=" fragments/fragments :: header"></header>

<main style="padding: 2%">
    <section class="container-fluid">
        <aside class=" mx-auto col-md-8 col-12">
            <h1 class="page-title my-2 text-dark" style="border-bottom: 2px solid #ffc107;">Meet the team</h1>
            <p class="large-text text-center">Here's the development team that created On The Road
                Again, from start to finish.<br/>
                Get in touch to see how they can move your team, project, or organization in the right direction!<br/>
            </p>
        </aside>
        <div class="row justify-content-around col-10 mx-auto">
            <div class="card col-12 col-md-6 col-lg-3 border-warning mb-3" style="max-width: 20rem;">
                <article class="flip-box mx-auto">
                    <main class="flip-box-inner">
                        <section class="flip-box-front">
                            <img class="rounded-circle" src="./images/ColeJimenez.jpg" title="Cole" alt="Cole Developer picture"
                                 style="padding-top: .5rem;" width="100%"/></section>
                        <section class="flip-box-back">
                            <img class="rounded-circle" src="./images/beyonceRosie.jpg" title="We Can Do It!" alt="We can do it!"
                                 style="padding-top: .5rem;" width="100%"/>
                        </section>
                    </main>
                </article>
                <div class="card-body font-weight-light w-100">
                    <h4 class="card-title text-center mb-1">Cole Jimenez</h4>
                    <h4 class="heads text-center">Customer Connoisseur</h4>
                    <hr class="hr-4"/>
                    <section class="row justify-content-around">
                        <a target="_blank" href="mailto:taylor.cole.jimenez@gmail.com"
                           style="text-decoration: none">
                            <img src="./images/email.png" title="Email Cole" class="contact-img"/>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/taylor-cole-jimenez"
                           style="text-decoration: none">
                            <img src="./images/linkedin.png" title="Connect with Cole" class="contact-img"/>
                        </a>
                        <a target="_blank" href="https://github.com/tcolejimenez" style="text-decoration: none">
                            <img src="./images/github.png" title="Cole on Github" class="contact-img"/>
                        </a>
                    </section>
                    <!--<div class="flip-box-back">-->
                    <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
                    <!--<img class="card-img-top rounded-circle" src="./images/beyonceRosie.jpg" alt="Mechanic Cole" style="padding-top: .5rem" />-->
                    <!--<div class="card-body font-weight-light w-100">-->
                    <!--<h5 class="card-title text-center">On</h5>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-3 border-warning mb-3" style="max-width: 20rem;">
                <article class="flip-box mx-auto">
                    <main class="flip-box-inner">
                        <section class="flip-box-front">
                            <img class="rounded-circle" src="./images/HaniaNowak.jpg" title="Hania" alt="Hania"
                                 style="padding-top: .5rem;" width="100%"/></section>
                        <section class="flip-box-back">
                            <img class="rounded-circle" src="./images/alexisRosie.png" alt="We can do it!"
                                 style="padding-top: .5rem;" width="100%"/>
                        </section>
                    </main>
                </article>
                <div class="card-body font-weight-light w-100">
                    <h4 class="card-title text-center mb-1">Hania Nowak</h4>
                    <h4 class="heads text-center">Advisor Aficionado</h4>
                    <hr class="hr-4"/>
                    <section class="row justify-content-around">
                        <a target="_blank" href="mailto:hania.nowak2018@gmail.com"
                           style="text-decoration: none">
                            <img src="./images/email.png" title="Email Hania" class="contact-img"/></a>

                        <a target="_blank" href="https://www.linkedin.com/in/hania-nowak"
                           style="text-decoration: none">
                            <img src="./images/linkedin.png" title="Connect with Hania" class="contact-img"/>
                        </a>

                        <a target="_blank" href="https://github.com/hanianowak" style="text-decoration: none">
                            <img src="./images/github.png" title="Hania on Github" class="contact-img"/>
                        </a>
                    </section>
                </div>
            </div>
            <!--<div class="flip-box-back">-->
            <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
            <!--<img class="card-img-top rounded-circle" src="./images/alexisRosie.png" alt="Mechanic Hania" style="padding-top: .5rem" />-->
            <!--<div class="card-body font-weight-light w-100">-->
            <!--<h5 class="card-title text-center">The</h5>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="card  col-12 col-md-6 col-lg-3 border-warning mb-3" style="max-width: 20rem;">
                <article class="flip-box mx-auto">
                    <main class="flip-box-inner">
                        <section class="flip-box-front">
                            <img class="rounded-circle" src="./images/MichaelStrezishar.jpg" title="Michael" alt="Michael"
                                 style="padding-top: .5rem;" width="100%"/></section>
                        <section class="flip-box-back">
                            <img class="rounded-circle" src="./images/manRosie.jpg" alt="We can do it!"
                                 style="padding-top: .5rem;" width="100%"/>
                        </section>
                    </main>
                </article>
                <div class="card-body font-weight-light w-100">
                    <h4 class="card-title text-center mb-1">Michael Strezishar</h4>
                    <h4 class="heads text-center">API Ace</h4>
                    <hr class="hr-4"/>
                    <section class="row justify-content-around">
                        <a target="_blank" href="mailto:michael.strezishar@gmail.com"
                           style="text-decoration: none"> <img src="./images/email.png" title="Email Michael" class="contact-img"/></a>


                        <a target="_blank" href="https://www.linkedin.com/in/michael-strezishar"
                           style="text-decoration: none"><img src="./images/linkedin.png" title="Connect with Michael" class="contact-img"/></a>


                        <a target="_blank" href="https://github.com/michael-strezishar"
                           style="text-decoration: none"><img src="./images/github.png" title="Michael on Github" class="contact-img"/></a>
                    </section>
                </div>
                <!--<div class="back">-->
                <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
                <!--<img class="card-img-top rounded-circle" src="./images/manRosie.jpg" alt="Mechanic Michael" style="padding-top: .5rem" />-->
                <!--<div class="card-body font-weight-light w-100">-->
                <!--<h5 class="card-title text-center">Road</h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="card  col-12 col-md-6 col-lg-3 border-warning mb-3" style="max-width: 20rem;">
                <article class="flip-box mx-auto">
                    <main class="flip-box-inner">
                        <section class="flip-box-front">
                            <img class="rounded-circle" src="./images/TamishaRutledge.jpg" title="Tamisha" alt="Tamisha"
                                 style="padding-top: .5rem;" width="100%"/></section>
                        <section class="flip-box-back">
                            <img class="rounded-circle" src="./images/kellyRosie.jpg" alt="We can do it!"
                                 style="padding-top: .5rem;" width="100%"/>
                        </section>
                    </main>
                </article>
                <div class="card-body font-weight-light w-100">
                    <h4 class="card-title text-center mb-1">Tamisha Rutledge</h4>
                    <h4 class="heads text-center">Technician Top-shot</h4>
                    <hr class="hr-4"/>
                    <section class="row justify-content-around">
                        <a target="_blank" href="mailto:tamisha.rutledge@gmail.com"
                           style="text-decoration: none"> <img src="./images/email.png" title="Email Tamisha" class="contact-img"/></a>

                        <a target="_blank" href="https://www.linkedin.com/in/tamisha-rutledge"
                           style="text-decoration: none"><img src="./images/linkedin.png" title="Connect with Tamisha" class="contact-img"/></a>

                        <a target="_blank" href="https://github.com/TamishaRutledge"
                           style="text-decoration: none"> <img src="./images/github.png" title="Tamisha on Github" class="contact-img"/></a>
                    </section>
                </div>
            </div>
            <!--<div class="back">-->
            <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
            <!--<img class="card-img-top rounded-circle" src="./images/kellyRosie.jpg" alt="Mechanic Tamisha" style="padding-top: .5rem" />-->
            <!--<div class="card-body font-weight-light w-100">-->
            <!--<h5 class="card-title text-center">Again</h5>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <aside class=" mx-auto col-md-8 col-12">
            <p class="large-text text-center">
                <br/>
                We'd like to thank the Codeup instructors and staff for their invaluable support and wisdom, <br/>
                and our fellow Codeup classmates for their constant encouragement and inspiration. Bonne chance!<br/>
            </p>
        </aside>
    </section>


</main>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>