<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head">
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>
<header th:replace=" fragments/fragments :: header"></header>

<main style="padding: 3%">
<section>
    <div class="card-deck row">
        <div class="card col border-warning mb-3" style="max-width: 20rem;">
            <img class="rounded-circle" src="./images/ColeJimenez.jpg" alt="Cole Developer picture" style="padding-top: .5rem; margin-left: 13%" width="75%" />
            <div class="card-body font-weight-light w-100">
                <h5 class="card-title text-center">Cole Jimenez</h5>
                <ul class="list-group list-group-flush"><small>
                    <li class="list-group-item"><img src="./images/email.png" /><a target="_blank" href="mailto:taylor.cole.jimenez@gmail.com" style="text-decoration: none"> taylor.cole.jimenez@gmail.com</a></li>
                    <li class="list-group-item"><img src="./images/linkedin.png" /><a target="_blank" href="https://www.linkedin.com/in/taylor-cole-jimenez" style="text-decoration: none"> Taylor (Cole) Jimenez</a></li>
                    <li class="list-group-item"><img src="./images/github.png" /><a target="_blank" href="https://github.com/tcolejimenez" style="text-decoration: none"> tcolejimenez</a></li>
                </small></ul>
            <!--<div class="flip-box-back">-->
                <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
                    <!--<img class="card-img-top rounded-circle" src="./images/beyonceRosie.jpg" alt="Mechanic Cole" style="padding-top: .5rem" />-->
                    <!--<div class="card-body font-weight-light w-100">-->
                        <!--<h5 class="card-title text-center">On</h5>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            </div>
        </div>
        <div class="card col border-warning mb-3" style="max-width: 20rem;">
            <img class="rounded-circle" src="./images/HaniaNowak.jpg" alt="Hania Developer picture" style="padding-top: .5rem; margin-left: 13%" width="75%" />
            <div class="card-body font-weight-light w-100">
                <h5 class="card-title text-center">Hania Nowak</h5>
                <ul class="list-group list-group-flush" ><small>
                    <li class="list-group-item"><img src="./images/email.png" /><a target="_blank" href="mailto:hania.nowak2018@gmail.com" style="text-decoration: none"> hania.nowak2018@gmail.com</a></li>
                    <li class="list-group-item"><img src="./images/linkedin.png" /><a target="_blank" href="https://www.linkedin.com/in/hania-nowak" style="text-decoration: none"> Hania Nowak</a></li>
                    <li class="list-group-item"><img src="./images/github.png" /><a target="_blank" href="https://github.com/hanianowak" style="text-decoration: none"> hanianowak</a></li>
                </small></ul>
            </div>
        </div>
        <!--<div class="flip-box-back">-->
            <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
                <!--<img class="card-img-top rounded-circle" src="./images/alexisRosie.png" alt="Mechanic Hania" style="padding-top: .5rem" />-->
                <!--<div class="card-body font-weight-light w-100">-->
                    <!--<h5 class="card-title text-center">The</h5>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="card col border-warning mb-3" style="max-width: 20rem;">
            <img class="rounded-circle" src="./images/MichaelStrezishar.jpg" alt="Michael Developer picture" style="padding-top: .5rem; margin-left: 13%" width="75%" />
            <div class="card-body font-weight-light w-100">
                <h5 class="card-title text-center">Michael Strezishar</h5>
                <ul class="list-group list-group-flush"><small>
                    <li class="list-group-item"><img src="./images/email.png" /><a target="_blank" href="mailto:michael.strezishar@gmail.com" style="text-decoration: none"> michael.strzishar@gmail.com</a></li>
                    <li class="list-group-item"><img src="./images/linkedin.png" /><a target="_blank" href="https://www.linkedin.com/in/michael-strezishar" style="text-decoration: none"> Michael Strezishar</a></li>
                    <li class="list-group-item"><img src="./images/github.png" /><a target="_blank" href="https://github.com/michael-strezishar" style="text-decoration: none"> michael-strezishar</a></li>
                </small></ul>
            </div>
            <!--<div class="back">-->
                <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
                    <!--<img class="card-img-top rounded-circle" src="./images/manRosie.jpg" alt="Mechanic Michael" style="padding-top: .5rem" />-->
                    <!--<div class="card-body font-weight-light w-100">-->
                        <!--<h5 class="card-title text-center">Road</h5>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="card col border-warning mb-3" style="max-width: 20rem;">
            <img class="rounded-circle" src="./images/TamishaRutledge.jpg" alt="Tamisha Developer picture" style="padding-top: .5rem; margin-left: 13%" width="75%" />
            <div class="card-body font-weight-light w-100">
                <h5 class="card-title text-center">Tamisha Rutledge</h5>
                <ul class="list-group list-group-flush"><small>
                    <li class="list-group-item"><img src="./images/email.png" /><a target="_blank" href="mailto:tamisha.rutledge@gmail.com" style="text-decoration: none"> tamisha.rutledge@gmail.com</a></li>
                    <li class="list-group-item"><img src="./images/linkedin.png" /><a target="_blank" href="https://www.linkedin.com/in/tamisha-rutledge" style="text-decoration: none"> Tamisha Rutledge</a></li>
                    <li class="list-group-item"><img src="./images/github.png" /><a target="_blank" href="https://github.com/TamishaRutledge" style="text-decoration: none"> TamishaRutledge</a></li>
                    </small></ul>
            </div>
        </div>
    <!--<div class="back">-->
        <!--<div class="card col border-warning mb-3" style="max-width: 20rem;">-->
            <!--<img class="card-img-top rounded-circle" src="./images/kellyRosie.jpg" alt="Mechanic Tamisha" style="padding-top: .5rem" />-->
            <!--<div class="card-body font-weight-light w-100">-->
                <!--<h5 class="card-title text-center">Again</h5>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    </div>
</section>


</main>
<script>
    $(function(){
        $(".flip").flip({
            trigger: 'hover',
            axis: 'x'
        });
    });
</script>


<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>