<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>

<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>
<br/>
<!--<h1 class="container">Welcome, <span th:text="${#authentication.principal.first}"/> - our favorite advisor!</h1>-->
<br/>
<main class="container row mx-auto">

    <div class="col">

        <h2>All Vehicles with booked appointments</h2>
        <div class="border border-warning rounded">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Vehicle</th>
                    <th scope="col">License</th>
                    <th scope="col">Booking Date</th>
                    <th scope="col">Service</th>
                    <th scope="col">Status</th>
                    <th scope="col">Technician</th>
                    <th scope="col">Assign / Change Technician</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service_booking : ${serviceBookings}">
                    <td th:text="${service_booking.vehicle.make + ' ' + service_booking.vehicle.model + ', ' + service_booking.vehicle.color}"/>
                    <td th:text="${service_booking.vehicle.license}"/>
                    <td th:text="${service_booking.date}"/>
                    <td th:text="${service_booking.service_type.description}"/>
                    <td th:text="${service_booking.status.description}"/>
                    <th:block th:if="${service_booking.technician != null}">
                        <td th:text="${service_booking.technician.first}"/>
                    </th:block>
                    <th:block th:if="${service_booking.technician == null}">
                        <td>not assigned</td>
                    </th:block>
                    <td>
                        <form th:action="@{/advisor}" method="post" class="form-inline" th:object="${serviceBooking}">
                            <div class="form-group">
                                <select name="tech" id="technician" class="form-control">
                                    <option th:each="technician : ${technicians}" th:value="${technician.id}">
                                        <span th:text="${technician.first}"/>
                                    </option>
                                </select>
                                <input type="hidden" name="booking-id" th:value="${service_booking.id}"/>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm ml-1" name="tech">Submit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/book/{id}(id=${service_booking.id})}" method="get"
                              th:object="${service_booking.id}">
                            <button type="submit" class="btn btn-success btn-sm">Details</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>