<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<style type="text/css">
    #map-canvas {
        width: 500px;
        height: 300px;
    }
</style>


<!--<head>-->
<!--<meta charset="UTF-8" />-->

<!--<title>On the road again</title>-->
<!--</head>-->
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>
<h1 class="container">Welcome back, <span th:text="${#authentication.principal.first}"/>! <hr class="hr-4"/></h1>

<main class="container row mx-auto">

    <article class="col-6">
        <h2>Your Info</h2>
        <hr class="hr-4" />
        <h5><span th:text="${#authentication.principal.id}"/></h5>
        <h5>Username: <span th:text="${#authentication.principal.username}"/></h5>
        <h5>Email: <span th:text="${#authentication.principal.email}"/></h5>
        <hr class="hr-4" />
        <h2>Your Vehicles</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Mileage</th>
                <th scope="col">License</th>
                <th scope="col">Remove</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${#authentication.principal.vehicles}">
                <td th:text="${vehicle.year}" />
                <td th:text="${vehicle.make + ' ' + vehicle.model + ', ' + vehicle.color}" />
                <td th:text="${vehicle.mileage}" />
                <td th:text="${vehicle.license}" />
                <td>
                    <form th:action="@{vehicles/delete/{id}(id=${vehicle.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-warning btn-block" href="/vehicles/add">Add Vehicle</a>
    </article>

    <article class="col-6">
        <h2>Upcoming Appointments</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Type</th>
                <th scope="col">Advisor</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.date}" />
                <td th:text="${booking.vehicle.make + ' ' + booking.vehicle.model}" />
                <!--uncomment when database is filled-->
                <td th:text="${booking.service_type.description}" />
                <td th:text="${booking.advisor.first}" />
                <td class="form-inline">
                    <form th:action="@{book/cancel/{id}(id=${booking.id})}" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                    </form>

                    <form th:action="@{/book/{id}(id=${booking.id})}" method="get" th:object="${booking.id}">
                        <button type="submit" class="btn btn-success btn-sm">Details</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-warning btn-block" href="/booking/create">Book Service Appt</a>
        <hr class="hr-4" />
        <h2>Past Appointments</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Type</th>
                <th scope="col">Advisor</th>
            </tr>
            </thead>
            <!--<tbody>-->
            <!--<tr th:each="vehicle : ${#authentication.principal.vehicles}">-->
                <!--<td th:text="${vehicle.year}" />-->
                <!--<td th:text="${vehicle.make + ' ' + vehicle.model + ', ' + vehicle.color}" />-->
                <!--<td th:text="${vehicle.mileage}" />-->
                <!--<td th:text="${vehicle.license}" />-->
            <!--</tr>-->
            <!--</tbody>-->
        </table>
    </article>
    <div id="map-canvas"></div>

</main>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC96DvMPlkNkha8pQ0QUy9abAXnfT7F2lY"></script>

<script type="text/javascript">
    (function() {
        "use strict";

        var mapOptions = {

            zoom: 19,


            center: {
                lat:  29.426791,
                lng: -98.489602
            }
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    })();
</script>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>