<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<!--<head>-->
<!--<meta charset="UTF-8" />-->

<!--<title>On the road again</title>-->
<!--</head>-->
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>

<main class="container mx-auto mb-5 pb-5">
    <section class="col-10 mx-auto">
        <h1 class="page-title my-2 text-dark" style="border-bottom: 2px solid #ffc107;">Register</h1>
        <p>Please enter your info below. Your username and password will be used to login. Any other info will
            only be used to contact you in regards to your vehicle.</p>
        <form th:action="@{/register}" method="post" th:object="${user}">
            <div class="row mx-auto justify-content-center justify-items-center">

                <section class="col card border border-warning rounded m-2">
                    <h2 class="heads card-title text-dark text-center mt-3">Contact info:</h2>
                    <p>Your username and password will be used to login.</p>
                    <section class="form-row">
                        <article class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" th:field="*{username}"
                                   placeholder="Username"/>
                        </article>

                        <article class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" th:field="*{password}"
                                   placeholder="Password"/>
                        </article>
                    </section>
                    <hr />
                    <p>We will only contact you for updates with your vehicle.</p>
                    <section class="form-row">
                        <article class="form-group col-md-7">
                            <label for="email">Email Address</label>
                            <input type="email" id="email" class="form-control" th:field="*{email}"
                                   placeholder="Email"/>
                        </article>

                        <article class="form-group col-md-5">
                            <label for="phone_number">Phone</label>
                            <input type="text" id="phone_number" class="form-control" th:field="*{phone_number}"
                                   placeholder="Phone Number"/>
                        </article>
                    </section>

                </section>

                <section class="col card border border-warning rounded m-2">
                    <h2 class="heads card-title text-dark text-center mt-3">Address:</h2>
                    <p>Please enter your mailing address. Must be within the U.S. (No A.P.O.'s, F.P.O.'s, etc.)</p>
                    <section class="row">
                        <article class="form-group col-md-6">
                            <label for="first">First Name</label>
                            <input type="text" id="first" class="form-control" name="first" th:field="*{first}"
                                   placeholder="First Name"/>
                        </article>

                        <article class="form-group col-md-6">
                            <label for="last">Last Name</label>
                            <input type="text" id="last" class="form-control" th:field="*{last_name}"
                                   placeholder="Last Name"/>
                        </article>
                    </section>

                    <article class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" th:field="*{address}"
                               placeholder="Address"/>
                    </article>

                    <section class="form-row">
                        <article class="form-group col-md-6">
                            <label>City</label>
                            <input type="text" id="city" class="form-control" th:field="*{city}" placeholder="City"/>
                        </article>
                        <article class="form-group col-md-3">
                            <label>State</label>
                            <select id="state" class="form-control" th:field="*{state}" placeholder="State">
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>
                        </article>
                        <article class="form-group col-md-3">
                            <label>Zipcode</label>
                            <input type="text" id="zip" class="form-control" th:field="*{zipcode}"
                                   placeholder="Zipcode"/>
                        </article>
                    </section>

                </section>

            </div>
            <article class="form-group row justify-content-center justify-items-center">
                <input type="submit" class="btn btn-warning btn-lg" value="Register"/>
            </article>
        </form>
    </section>
</main>

<footer th:replace="fragments/fragments :: footer"></footer>

</body>
</html>