<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/fragments :: head">
</head>
<style>
    #progress {
        width: 100%;
        background-color: grey;
    }

    #bar {
        width: 1%;
        height: 30px;
        background-color: green;
    }
</style>
<body class=" bg-light">

<!--<aside th:if="${param.}" class="alert alert-success" role="alert">-->
<!--SMS has been sent!-->
<!--</aside>-->

<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>
<h3 class="container mt-5 mb-5">Look at this booking details, <span th:text="${#authentication.principal.first}"/>!</h3>

<main class="container row mx-auto">
    <div class="border border-warning rounded col-12">
        <article class="m-4">
            <h3>Service Details:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Service Date</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Service Type</th>
                    <th scope="col">Advisor</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.date}"/>
                    <td th:text="${booking.vehicle.make + ' ' + booking.vehicle.model}"/>
                    <td th:text="${booking.service_type.description}"/>
                    <td th:text="${booking.advisor.first}"/>
                </tr>
                </tbody>
            </table>
        </article>
        <hr class="hr-4 mx-4"/>
        <article class="m-4">
            <h3>Service status:</h3>
            <h4 th:text="${status}"/>
            <div class="progress" style="height: 50px;">
                <div class="progress-bar" th:style="'width: ' + ${width} + '%'" th:classappend="${color}"
                     role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </article>


        <!--part to show on the customer page-->

        <!--<article class="text-center m-4" th:if="${bookings.cost != null}" sec:authorize="hasAuthority('CUSTOMER')">-->
            <!--<h4>Total cost of your service:</h4>-->
            <!--<h3 th:text="${bookings.cost}"></h3>-->
        <!--</article>-->

        

        <article class="text-center mb-5" th:if="${bookings.status.id == 1}" sec:authorize="hasAuthority('ADVISOR')">

            <!--form without action - just to show the idea - actual form below-->
            
            <!--<article class="m-4">-->
                <!--<form class="form-inline">-->
                    <!--<article class="form-group">-->
                        <!--<label class="mr-1" for="cost">Total cost of the service:</label>-->
                        <!--<input type="" id="cost" name="cost" class="form-control" placeholder="Cost"/>-->
                    <!--</article>-->
                    <!--<button type="submit" class="btn btn-success btn-sm ml-1" name="cost">Submit</button>-->
                <!--</form>-->
            <!--</article>-->



            <!--actual form-->

            <!--<article class="m-4">-->
                <!--<form th:action="@{/book/{id}}" method="post" class="form-inline" th:object="${serviceBooking}">-->
                    <!--<article class="form-group">-->
                        <!--<label class="mr-1" for="cost">Total Cost:</label>-->
                        <!--<input type="" id="cost" name="cost" class="form-control"-->
                               <!--th:field="*{cost}" placeholder="Cost"/>-->
                        <!--<input type="hidden" name="booking-id" th:value="${service_booking.id}"/>-->
                    <!--</article>-->
                    <!--<button type="submit" class="btn btn-success btn-sm ml-1" name="cost">Submit</button>-->
                <!--</form>-->
            <!--</article>-->


            <h3>Vehicle service has been completed!</h3>

            <form class="m-4">
                <label for="send">Tell the customer that the car is ready to pick up!</label>
                <br/>
                <a href="/send" class="btn btn-success btn-lg active" role="button" aria-pressed="true" id="send">Send
                    SMS!</a>
            </form>
        </article>


    </div>
</main>

<footer th:replace="fragments/fragments :: footer"></footer>
<script>
    function move() {
        var elem = document.getElementById("bar");
        var width = 1;
        var id = setInterval(frame, 10);

        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
            }
        }
    }

</script>
</body>
</html>