<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>

<th:block th:switch="${error}">
    <div th:case="'Not Found'" class="text-center">
        <h1 class="mt-5 mb-5">Page not found!</h1>
        <img src="./images/404.jpg" />
    </div>
    <div th:case="'Forbidden'">
        <h1 class="mt-5 mb-5">You don't have permission to view this page.</h1>
        <img src="./images/403.jpg" />
    </div>
    <div th:case="'Unauthorized'">
        <h1 class="mt-5 mb-5">You are not authorized to view this page.</h1>
        <img src="./images/403.jpg" />
    </div>
</th:block>
<div class="text-center mt-5">
    <a href="/" th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>