<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>

<th:block th:switch="${error}">
    <div th:case="'Not Found'" class="text-center">
        <h1 class="mt-5 mb-5">Page not found!</h1>
        <!--<img src="https://www.lifewire.com/thmb/OO7CD06NAdoIwv71DgUgBiTd4ps=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg"-->
             <!--width="60%"/>-->
        <img src="./images/404.jpg" />
    </div>
    <div th:case="'Forbidden'">
        <h1>You don't have permission to view this page.</h1>
        <!--<img src="https://static.rogerebert.com/uploads/review/primary_image/reviews/talladega-nights-the-ballad-of-ricky-bobby-2005/hero_EB20060803REVIEWS60803001AR.jpg" />-->
        <img src="./images/403.jpg" />
    </div>
</th:block>
<div class="text-center mt-5">
    <a href="/" th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>