/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    /*td:nth-of-type(1):before { content: "First Name"; }*/
    /*td:nth-of-type(2):before { content: "Last Name"; }*/
    /*td:nth-of-type(3):before { content: "Job Title"; }*/
    /*td:nth-of-type(4):before { content: "Favorite Color"; }*/
    /*td:nth-of-type(5):before { content: "Wars of Trek?"; }*/
    /*td:nth-of-type(6):before { content: "Secret Alias"; }*/
    /*td:nth-of-type(7):before { content: "Date of Birth"; }*/
    /*td:nth-of-type(8):before { content: "Dream Vacation City"; }*/
    /*td:nth-of-type(9):before { content: "GPA"; }*/
    /*td:nth-of-type(10):before { content: "Arbitrary Data"; }*/
}


body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

ul {
    font-size: 16px;
}


h1, h2 {
    font-family: 'Bangers', cursive;


}

h1 {
    font-size: 200%;
}

.normie {
    font-family: 'Nunito', sans-serif;
}

.heads {
    font-family: 'Bangers', cursive;
}

.large-text {
    font-size: 20px;
}

.page-title {
    font-size: 300% !important;
}

.sub-header {
    font-family: 'Bangers', cursive;
    font-size: 200%;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
}

footer {
  color: #c74653 !important;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 80%;
    height: 80%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: 80%;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {

}

/* Style the back side */
.flip-box-back {
    transform: rotateY(180deg);
}

.contact-img {
    width: 80%;
    padding: 5%;
}


