<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
    <meta charset="UTF-8"/>
    <title>Customer Logged In</title>
<body class="bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>
<header th:replace=" fragments/fragments :: header"></header>
<h1 class="container" th:text="${'Welcome ' + user.username }"></h1>
<main class="container row mx-auto">
    <section class="col-6">
        <div class="card">
            <div class="card-body"><h2>Service and Repair History</h2>
                <!--test entry of info-->
                <h5>1/14/18-Oil Change, Fuel filter Service, and Transmission Service</h5>
                <h5>4/24/18-Serpentine belt replacement</h5>
            <h5>11/4/18-Oil Change and Tire rotation</h5></div>
        </div>
        <div class="card">
            <div class="card-body"><h2>Upcoming Appointments</h2></div>
        </div>
    </section>
    <section class="col-6 row">




        <div class="card">
        <div class="card-body"><h2>Hours of Operation</h2>
            <h5>M-F 7:00am - 6:00pm</h5>
            <h5>Sat 9:00am - 4:00pm</h5>
            <h6>Call Larry's Towing for emergency drop-off</h6>
        </div>
        </div>
        <div class="card col-6">

        <div class="card-body"><h2>MAP</h2>
        </div>
        </div>
    </section>
</main>




<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>