<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/fragments :: head"></head>
<style type="text/css">
    #map-canvas {
        width: 500px;
        height: 300px;
    }
</style>

<!--<head>-->
    <!--<meta charset="UTF-8" />-->

    <!--<title>On the road again</title>-->
<!--</head>-->
<body class=" bg-light">
    <nav th:replace="fragments/fragments :: navbar"></nav>

    <header th:replace=" fragments/fragments :: header"></header>
    <h1 class="container">Home</h1>
    <main class="container row mx-auto">
        <section class="col-6">
            <p>this is the home page if you are not logged in</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, architecto atque consequatur cupiditate ducimus provident rem tempore voluptates. Consequatur cumque exercitationem illo quas quo. Adipisci fuga nam quae quia saepe! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem dolorem doloremque dolorum eius ex explicabo inventore labore, nobis odio officia quos ratione, unde velit! Ea excepturi facilis provident.</p>
        </section>

        <section class="col-6 row">
            <article id="map-canvas" class="col-6"><h2>MAP</h2></article>
            <article class="col-6"><h2>Safety Recalls</h2></article>
            <article class="col-6"><h2>Contact</h2></article>
            <article class="col-6"><h2>Hours</h2></article>
        </section>

    </main>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC96DvMPlkNkha8pQ0QUy9abAXnfT7F2lY"></script>

    <script type="text/javascript">
        (function() {
            "use strict";

            var mapOptions = {

                zoom: 19,


                center: {
                    lat:  29.426791,
                    lng: -98.489602
                }
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        })();
    </script>

    <footer th:replace="fragments/fragments :: footer"></footer>

</body>
</html>