<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>
<header th:replace=" fragments/fragments :: header"></header>

<main class="container mx-auto">
    <h1>Welcome Back, <span th:text="${#authentication.principal.first}"></span></h1>
    <hr class="hr-6"/>
    <section class="row">
    <article class="col-sm-12 col-6">
        <h2>Your Info:</h2>
        <h4 th:text="${#authentication.principal.email}"/>
        <h4 th:text="${#authentication.principal.phone_number}"/>
    </article>
    <article class="col-sm-12 col-6 row">
        <h2>Scheduled Vehicles</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">License Plate</th>
                <th scope="col">Service Requested</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Vehicle Page</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${serviceBookings}">
                <td th:text="${booking.vehicle.license}" />
                <td th:text="${booking.service_type.description}" />
                <td th:text="${booking.vehicle.make}" />
                <td th:text="${booking.vehicle.model}" />
                <td th:text="${booking.vehicle.year}" />
                <td><a th:href="@{/booking/{id}(id=${booking.id})}"  class="btn btn-primary btn-block">Vehicle Page</a></td>

            </tr>
            </tbody>
        </table>
    </article>
    </section>


</main>



<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>