<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>
<h1 class="container text-info">Customer Service Information</h1>

<main class="container row mx-auto">
    <section class="col-6">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Customer Name</li>
                <li class="list-group-item">Service Requested</li>
                <li class="list-group-item">Vehicle Year</li>
                <li class="list-group-item">Vehicle Make</li>
                <li class="list-group-item">Vehicle Model</li>
            </ul>
        </div>
    </section>
    <section>
    <div class="card" style="width: 18rem; padding-left: 1%">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center">Vehicle Status</h5>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" />
        <label class="custom-control-label" for="customCheck1">Vehicle Accepted</label>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck2" />
        <label class="custom-control-label" for="customCheck2">Service Started</label>
    </div>
        <hr/>
    <div class="custom-control custom-radio" style="padding-left: 10%">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadio1" style="color: red">Error Encountered</label>
        <button type="button" class="btn btn-outline-info btn-sm">Clear Error</button>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3" />
        <label class="custom-control-label" for="customCheck3">Halfway point reached</label>
    </div>
        <hr/>
    <div class="custom-control custom-radio" style="padding-left: 10%">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadio2" style="color: red">Error Encountered</label>
        <button type="button" class="btn btn-outline-info btn-sm">Clear Error</button>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck4" />
        <label class="custom-control-label" for="customCheck4">Checklist Complete / Final QC Inspection</label>
    </div>
        <hr/>
    <div class="custom-control custom-radio" style="padding-left: 10%">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadio3" style="color: red">Error Encountered</label>
        <button type="button" class="btn btn-outline-info btn-sm">Clear Error</button>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck5" />
        <label class="custom-control-label" for="customCheck5">Advisor Approval / Vehicle Complete</label>
        <button type="button" class="btn btn-outline-success btn-sm">Vehicle Complete</button>
    </div>
    </div>
    </div>
    </section>
    <section class="col-6 row">
        <h3>Vehicle Inspection Checklist</h3>
        <form>
            <button type="button" class="btn btn-success btn-sm disabled">Satisfactory</button>
            <button type="button" class="btn btn-warning btn-sm disabled">Warning</button>
            <button type="button" class="btn btn-danger btn-sm disabled">Critical</button>
            <table BORDER="2">
                <tr>
                    <th>Vehicle Condition</th>
                    <th>Interior / Exterior</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static border border-success" type="checkbox" value="option1" />
                            <input class="form-check-input position-static border border-warning" type="checkbox" value="option1" />
                            <input class="form-check-input position-static border border-danger" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Vehicle Warning Lamps: ABS/Airbags/Ck Engine/Brake/Other</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Head Lights/Tail Lights/Turn Signals/Brake Lights/Hazard Warning Lights/Exterior Lamps</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Windshield Washer Spray/Wiper Blades</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Windshield Condition (Cracks, Chips, or Fitting)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Upholstery/Carpet/Floor Mats/Mirrors/Glass</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Parking Brake Adjustment and Operation</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Horn Operation</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Fuel Filler Cap</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>In-Cabin Microfilter (if equipped)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Clutch Operation (if equipped)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Interior Lighting</td>
                </tr>
                <tr>
                    <th>Vehicle Condition</th>
                    <th>Under Hood</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Fluid Levels: Oil/Coolant/Battery/Power Steering/Brake Clutch/Washer/Automatic Transmission</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Engine Air Filter</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Drive Belts (condition and adjustment)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Engine Coolant System</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Cooling System Hoses/Heater Hoses/Air Conditioning Hoses and Connections</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Radiator Core and Cap</td>
                </tr>
                <tr>
                    <th>Vehicle Condition</th>
                    <th>Under Vehicle</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Shock Absorbers/Suspension</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Steering Gear Box/Linkage and Boots/Ball Joints/Dust Covers</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Muffler/Exhaust Pipes/Mountings</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Engine Oil and/or Fluid Leaks</td>
                    <!--There should be a text area here for notes!-->
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Brake Lines/Hoses/Parking Brake Cable</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Drive Shaft Boots/Constant Velocity Boots/U-Joints/Transmission Linkage</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Transmission/Differential/Transfer Case (Check Fluid Level, Fluid Condition and Fluid Leaks)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Fuel System Inspection</td>
                </tr>
                <tr>
                    <th>Vehicle Condition</th>
                    <th>Tires</th>
                </tr>
                <tr>
                    <td>Left Front: Tire Tread</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LFtire" name="LFTread" type="radio" value="option1" />
                            <label class="form-check-label" for="LFtire">4/32" or Deeper</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LFtire1" name="LFTread" type="radio" value="option2" />
                            <label class="form-check-label" for="LFtire1">3/32"</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LFtire2" name="LFTread" type="radio" value="option3" />
                            <label class="form-check-label" for="LFtire2">2/32" or Less</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Left Front: Wear Pattern</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LFtireW" name="LFWear" type="radio" value="option1" />
                            <label class="form-check-label" for="LFtireW">Satisfactory</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LFtireW1" name="LFWear" type="radio" value="option2" />
                            <label class="form-check-label" for="LFtireW1">Uneven Wear</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Left Front: Tire Pressure</td>
                    <td>
                        <select class="custom-select custom-select-sm">
                            <option>Select Tire Pressure Status</option>
                            <option value="1">Satisfactory</option>
                            <option value="2">Getting Low</option>
                            <option value="3">Needs Immediate Attention</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Left Rear: Tire Tread</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LRtire" name="LRTread" type="radio" value="option1" />
                            <label class="form-check-label" for="LRtire">4/32" or Deeper</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LRtire1" name="LFTread" type="radio" value="option2" />
                            <label class="form-check-label" for="LRtire1">3/32"</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LRtire2" name="LFTread" type="radio" value="option3" />
                            <label class="form-check-label" for="LRtire2">2/32" or Less</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Left Rear: Wear Pattern</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LRtireW" name="LRWear" type="radio" value="option1" />
                            <label class="form-check-label" for="LRtireW">Satisfactory</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" id="LRtireW1" name="LRWear" type="radio" value="option2" />
                            <label class="form-check-label" for="LRtireW1">Uneven Wear</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Left Rear: Tire Pressure</td>
                    <td>
                        <select class="custom-select custom-select-sm">
                            <option>Select Tire Pressure Status</option>
                            <option value="1">Satisfactory</option>
                            <option value="2">Getting Low</option>
                            <option value="3">Needs Immediate Attention</option>
                        </select>
                    </td>
                </tr>
            </table>
            <textarea name="comment" style="resize: none; width: 36rem" placeholder="Enter Vehicle Notes Here"></textarea>
            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
        </form>
    </section>
</main>

<!--<footer th:replace="fragments/fragments :: footer"></footer>-->

</body>
</html>