<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments :: head"></head>
<body class=" bg-light">
<nav th:replace="fragments/fragments :: navbar"></nav>

<header th:replace=" fragments/fragments :: header"></header>
<h1 class="container text-info">Customer Service Information</h1>

<main class="container row mx-auto">
    <section class="col-6">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Customer Name</li>
                <li class="list-group-item">Service Requested</li>
                <li class="list-group-item">Vehicle Year</li>
                <li class="list-group-item">Vehicle Make</li>
                <li class="list-group-item">Vehicle Model</li>
            </ul>
        </div>
    </section>
    <section>
    <div class="card" style="width: 18rem; padding-left: 1%">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center">Vehicle Status</h5>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" />
        <label class="custom-control-label" for="customCheck1">Vehicle Accepted</label>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck2" />
        <label class="custom-control-label" for="customCheck2">Service Started</label>
    </div>
        <hr/>
    <div class="custom-control custom-radio" style="padding-left: 10%">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadio1" style="color: red">Error Encountered</label>
        <button type="button" class="btn btn-outline-info btn-sm">Clear Error</button>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3" />
        <label class="custom-control-label" for="customCheck3">Halfway point reached</label>
    </div>
        <hr/>
    <div class="custom-control custom-radio" style="padding-left: 10%">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadio2" style="color: red">Error Encountered</label>
        <button type="button" class="btn btn-outline-info btn-sm">Clear Error</button>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck4" />
        <label class="custom-control-label" for="customCheck4">Checklist Complete / Final QC Inspection</label>
    </div>
        <hr/>
    <div class="custom-control custom-radio" style="padding-left: 10%">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadio3" style="color: red">Error Encountered</label>
        <button type="button" class="btn btn-outline-info btn-sm">Clear Error</button>
    </div>
        <hr/>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck5" />
        <label class="custom-control-label" for="customCheck5">Advisor Approval / Vehicle Complete</label>
        <button type="button" class="btn btn-outline-success btn-sm">Vehicle Complete</button>
    </div>
    </div>
    </div>
    </section>
    <section class="col-6 row">
        <h3>Vehicle Inspection Checklist</h3>
        <form>
            <button type="button" class="btn btn-success btn-sm disabled">Satisfactory</button>
            <button type="button" class="btn btn-warning btn-sm disabled">Warning</button>
            <button type="button" class="btn btn-danger btn-sm disabled">Critical</button>
            <table BORDER="2">
                <tr>
                    <th>Vehicle Condition</th>
                    <th>Interior / Exterior</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Vehicle Warning Lamps: ABS/Airbags/Ck Engine/Brake/Other</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Head Lights/Tail Lights/Turn Signals/Brake Lights/Hazard Warning Lights/Exterior Lamps</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Windshield Washer Spray/Wiper Blades</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Windshield Condition (Cracks, Chips, or Fitting)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Upholstery/Carpet/Floor Mats/Mirrors/Glass</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Parking Brake Adjustment and Operation</td>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Horn Operation</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Fuel Filler Cap</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>In-Cabin Microfilter (if equipped)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Clutch Operation (if equipped)</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                            <input class="form-check-input position-static" type="checkbox" value="option1" />
                        </div>
                    </td>
                    <td>Interior Lighting</td>
                </tr>
            </table>
            <textarea name="comment" style="resize: none; width: 36rem" placeholder="Enter Vehicle Notes Here"></textarea>
            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
        </form>
    </section>
</main>

<!--<footer th:replace="fragments/fragments :: footer"></footer>-->

</body>
</html>